<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle History Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="top-container">
        <div id="left1">INFOCAR</div>
        <div id = "right1">
            <table>
                <tr>
                    <td>Vehicle History Report #1</td>
                </tr>
                <tr>
                    <td id="reportDate"><!-- Display report date here --></td>
                </tr>
                <tr>
                    <td>Report Status: Complete</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="report-section" id="yearMakeModelSection">
        <!-- Display year, make, and model here -->
    </div>
    <div class="report-section" id="openRecallsSection">
        <!-- Display open recalls here -->
    </div>
    <div class="report-section" id="stolenVehicleSection">
        <!-- Display stolen vehicle check here -->
    </div>
</body>
</html>
